form{
    border: 1px solid rgba(153, 153, 153);
    background-color: green;
}

form.dark{
    background-color: darkgreen;
}

label{
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

input{
    height: auto;
    width: 40%;
}

input.dark{
    background-color: black;
}

select{
    height: auto;
    width: 40%;
}

select.dark{
    background-color: black;
}

button{
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 32px;
    cursor: pointer;
}

button.dark{
    background-color: black;
}

.message-error{
    border: 1px solid rgb(212, 42, 0);
    background-color: rgb(149, 30, 0);
    padding: 16px 32px;
    margin-top: 8px;
    margin-bottom: 20px;
    display: none;
}

.message-error.visible{
    display: block;
}

.message-success{
    border: 1px solid rgb(81, 150, 2);
    color:  rgb(51, 95, 0);
    background-color: rgb(113, 212, 0);
    padding: 16px 32px;
    margin-bottom: 20px;
    display: none;
}

.message-success.visible{
    display: block;
    margin-top: 8px;
}

.success{
    border: 1px solid rgb(81, 150, 2);
    background-color: rgba(81, 150, 0);
}

.success.dark{
    border: 1px solid rgb(55, 102, 0);
    background-color: rgb(62, 117, 0);
}